@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat';
	font-size: 10px;
}
a {
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
	padding: 0;
}
.container {
	margin: 0 auto;
    position: relative;
	width: 960px;
	display: flex;
}
header{
	padding: 20px;
	background-image: url('../img/capa-madmax2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 90vh;
	align-content: center;
	position: relative;
	justify-content: space-between;
}
header .container{
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.head-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile{
	display: flex;
	align-items: center;
}
.profile img {
	border-radius: 100%;
	width: 45px;
	height: 45px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.profile label{
	color: #FFF;
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 15px;
}
.head-nav{
	justify-content: space-between;
	display: flex;
}
.head-nav a{
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 25px;
	font-size: 1.3em;
	transition: all 0.2s ease-in-out;
}
h1 {
	font-size: 65px;
	font-weight: bold;
	line-height: 1.2em;
	color: #FFF;
	text-transform: uppercase;
	margin: 0;
}
.head-content {
	max-width: 960px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.head-genre{
	margin: 15px 0 30px;
	text-transform: uppercase;
	display: flex;
}
.head-genre a{
	color: #FFF;
	margin-right: 15px;
	font-size: 1.3em;
	transition: all 0.2s ease-in-out;
}
.head-button{
	display: inline-block;
    padding: 15px 50px;
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #e4bb23;
    border-radius: 40px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.head-button i {
	font-size: 1.5em;
	position: absolute;
	right: 15px;
	top: 12px;
}
.head-info{
	font-size: 14px;
	padding: 20px 0;
	color: #FFF;
}
.head-info p:last-child{
	color:#bc9a1d;
}
header::after{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );;
}
footer{
	background-color: #FFF;
	color: #bababa;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
footer .container{
	justify-content: space-between;
	align-items: center;
}
.footer-list{
	display: flex;
}
.footer-list li{
	margin: 0 20px;
}
.footer-list li:last-child{
	margin-right: 0;
}
.footer-list a{
	font-size: 25px;
	color: #bababa;
	transition: all 0.2s ease-in-out;
}
main{
	background-color: #f2f2f2;
	width: 100%;
}
.catalog-menu{
	width: 960px;
	margin: 0 auto;
}
.catalog-menu ul{
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 20px !important;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.catalog-menu a{
	color: #e4bb23;
	padding: 25px 0;
	margin: 0 20px;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.2 ease-in-out;
}
.catalog-list{
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 20px 0;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}
.catalog-list-li {
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	overflow: hidden;
	width: 24%;
}
.catalog-poster{
	width: 100%;
	height: auto;
	margin: 0;
	overflow: hidden;
	position: relative;
}
.catalog-poster img{
	width: 100%;
	height: auto;
}
.catalog-info{
	align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 80px 20px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
.catalog-info h3{
	color: #e4bb23;
	font-size: 20px;
	line-height: 1em;
	text-transform: uppercase;
}
.catalog-info a{
	color: #FFF;
	font-size: 50px;
	transition: all 0.2s ease-in-out;
}
.catalog-sinopse{
	width: 100%;
	padding: 10px;
}
.catalog-sinopse h3{
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}
.catalog-sinopse-genre{
	margin: 10px 0;
	display: flex;
}
.catalog-sinopse-genre a{
	font-size: 12px;
	color: #e4bb23;
}
.catalog-sinopse-grade{
	margin: 0;
	align-items: center;
	display: flex;
	font-size: 20px;
	font-weight: bold;
	justify-content: space-between;
}
.catalog-sinopse-grade i{
	color: #ccc;
	cursor: pointer;
}




/** All Hover status**/
.icon-twitter a:hover{
	color: #55acee;
}
.icon-facebook a:hover{
	color: #3b5998;
}
.icon-instagram a:hover{
	color: #e95950;
}
.section-button:hover{
	background-color: #bc9a1d;
}
.head-genre a:hover, .head-nav a:hover{
	color: #e4bb23;
}
.catalog-menu a:hover{
	box-shadow: inset 0 -1px 0 #e4bb23;
}
.catalog-list-li:hover .catalog-info {
	opacity: 1;
	visibility: visible;
}
.catalog-info a:hover{
	color: #e4bb23;
}
.catalog-sinopse-genre a:hover{
	text-decoration: underline;
}
.catalog-sinopse-grade i:hover{
	color: #e74c3c;
}

