@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat';
	font-size: 10px;
}
a {
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
	padding: 0;
}
.container {
	margin: 0 auto;
    position: relative;
	width: 960px;
	display: flex;
}
header{
	padding: 20px;
	background-image: url('../img/capa-madmax2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 90vh;
	align-content: center;
	position: relative;
	justify-content: space-between;
}
header .container{
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.head-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile{
	display: flex;
	align-items: center;
}
.profile img {
	border-radius: 100%;
	width: 45px;
	height: 45px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.profile label{
	color: #FFF;
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 15px;
}
.head-nav{
	justify-content: space-between;
	display: flex;
}
.head-nav a{
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 25px;
	font-size: 1.3em;
	transition: all 0.2s ease-in-out;
}
h1 {
	font-size: 65px;
	font-weight: bold;
	line-height: 1.2em;
	color: #FFF;
	text-transform: uppercase;
	margin: 0;
}
.head-content {
	max-width: 960px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.head-genre{
	margin: 15px 0 30px;
	text-transform: uppercase;
	display: flex;
}
.head-genre a{
	color: #FFF;
	margin-right: 15px;
	font-size: 1.3em;
	transition: all 0.2s ease-in-out;
}
.head-button{
	display: inline-block;
    padding: 15px 50px;
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #e4bb23;
    border-radius: 40px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.head-button i {
	font-size: 1.5em;
	position: absolute;
	right: 15px;
	top: 12px;
}
.head-info{
	font-size: 14px;
	padding: 20px 0;
	color: #FFF;
}
.head-info p:last-child{
	color:#bc9a1d;
}
header::after{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );;
}
footer{
	background-color: #FFF;
	color: #bababa;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
footer .container{
	justify-content: space-between;
	align-items: center;
}
.footer-list{
	display: flex;
}
.footer-list li{
	margin: 0 20px;
}
.footer-list li:last-child{
	margin-right: 0;
}
.footer-list a{
	font-size: 25px;
	color: #bababa;
	transition: all 0.2s ease-in-out;
}
.icon-twitter a:hover{
	color: #55acee;
}
.icon-facebook a:hover{
	color: #3b5998;
}
.icon-instagram a:hover{
	color: #e95950;
}
.section-button:hover{
	background-color: #bc9a1d;
}
.head-genre a:hover, .head-nav a:hover{
	color: #e4bb23;
}